.landing {
     height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/public/landing2.jpg");
    background-size:cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.landingText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.summer {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin: 10px;
    background-color: wheat;
    border-radius: 20px;
}

.winter {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin: 10px;
    background-color: lightblue;
    border-radius: 20px;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;;
}